@import "../utilities/varibles";

.archived {
  @include default;
  margin-bottom: 50px;

  li {
    padding: 8px;
    font-size: 1em;
  }
  
ul{
  list-style-type: none;
}

  a:hover {
    background-color: $accent1;
    transform: scale(1.1);
    transition: 0.4s;
    padding: 5px;
    border-radius: 5%;
  }
}

@media (max-width: 768px) {
  .archived {
    @include tablet;
  }
}
