@import "../utilities/varibles";

.archived{
  @include default;

  li{
    padding: 8px;
  }

  a:hover{
    background-color: $accent1;
    transform: scale(1.1);
    transition: 0.4s;
    padding: 5px;
    border-radius: 5%;
  }
}

@media(max-width:768px){
  .archived{
    @include tablet;
  }
}