@import "../utilities/varibles";

.article {
  @include default;

  img {
    padding: 5px;
    background-color: $secondary;
    border-radius: 5%;
  }

  .special_underline {
    text-decoration: underline $accent2;
  }
}

@media (max-width: 768px) {
  .article {
    @include tablet;
  }
}
