@import "../utilities/varibles";

.gallery{
  background-color: $primary;
  margin-left: 20%;
  margin-right: 20%;
  padding: 25px;
  border-radius: 1.5%;
  margin-bottom: 50px;
/*
  .btn{
    background-color: $accent1;
    padding: 5px;
    border-radius: 5%;
    width: 110px;
    margin-left: 3px;
  }
  .btn:hover{
    transform: scale(1.1);
    transition: 0.4s;
  }

  add a download button at some point
*/
  img{
    aspect-ratio: 1/1;
    width: 32%;
    padding: 5px;
    background-color: $secondary;
    border-radius: 3%;
    margin: 3px;
  }
  img:hover{
    transform: scale(1.3);
    transition: 0.4s;
  }
}

@media(max-width:768px){
  .gallery{
    margin: 50px;
    border-radius: 0;
    img{
      width: 48%;
    }
  }
}
  