@import '../utilities/varibles';

header {
    text-align: center;
    P {
        margin-left: 15%;
        margin-right: 15%;
    }
}

footer {
    text-align: center;
}

.special {
    color: $accent1;
    text-decoration: underline $accent2;
}

@media (max-width: 768px) {
    header {
        margin-top: 60px;
    }
    h1 {
        font-size: larger;
    }
    p {
        font-size: medium;
    }
    a {
        font-size: medium;
    }
    footer{
        font-size: medium;
    }
}

@media(max-width : 448px){
    header{
        @include mobile
    }
  }
  