/*cool version*/
$background: #0b132b;
$primary: #1c2541;
$secondary: #3a506b;
$accent1: #5bc0be;
$accent2: #6fffe9;
$button: #1b4645;

@mixin tablet {
    margin: 50px;
    border-radius: 0;
    font-size: medium;
    margin-left: 25px;
    margin-right: 25px;
}

@mixin mobile {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 100px;
}

@mixin default {
    background-color: $primary;
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px;
    border-radius: 1.5%;
    margin-top: 50px;
}
/*
possiable new one?
$background: #000000;
$primary:#502F4C;
$secondary:#70587C;
$accent1:#C8B8DB;
$accent2:#F9F4F5;
*/

/*
org color shceme
  $background: #0D1B1E;
  $primary:#7798AB;
  $secondary:#C3DBC5;
  $accent1:#E8DCB9;
  $accent2:#F2CEE6;
  */
