/*
possiable new one?
$background: #000000;
$primary:#502F4C;
$secondary:#70587C;
$accent1:#C8B8DB;
$accent2:#F9F4F5;
*/

/*
cool version*/
  $background: #0B132B;
  $primary:#1C2541;
  $secondary:#3A506B;
  $accent1:#5BC0BE;
  $accent2:#6FFFE9;
/*
org color shceme
  $background: #0D1B1E;
  $primary:#7798AB;
  $secondary:#C3DBC5;
  $accent1:#E8DCB9;
  $accent2:#F2CEE6;
  */